* {
    box-sizing: border-box;
}

.cfb {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.mysb {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.scib {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.romb {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.fanb {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#logo{
    width: 29px; 
    height: 29px;
}

.book{
    height: 300px;
}    

.book1{
    height: 150px;
}

.btn{
    background-color: black;
    color: white;
}

.column_acc {
    float: left;
    width: 33.33%;
    padding: 10px;
}

#cem{
    height: 300px;
}

.form{
    text-align: center; 
    background-color: #c2c3c4;
    border-top-color: black;

}

.ukuranform{
    padding-top: 20px;
    padding-bottom: 20px;  
}

.warna{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center; 
    font-size: 32px;
}
.form-group{
    padding: 5px;
}

#logo{
    width: 29px;
    height: 29px;
}

.crsl{
    width: 100%;
}

#teks{
    text-align: justify; 
    margin: 80px;
}

#hunger{
    width: 240px; 
    height: 320px; 
    margin: 50px;
}

footer{
    margin-top: 20px;
}

#p_login{
    font-size: 12px;
}

#p1{
    font-size: 9px;
}

#p2{
    font-size: 12px;
}